/* Footer */
footer {
    height: auto;
    background: black;
    background: var(--clr-grey-1);
    overflow: hidden;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer p {
    color: var(--clr-text-light);
}
footer a,
footer span {
    color: var(--clr-primary-10);
}

/* Page Links */
.linkList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.pageLink {
    text-transform: capitalize;
}

/* Socials */
.logoContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.socialLogo {
    height: 30px;
    width: auto;
    filter: grayscale(1);
    transition: var(--transition-fast);
}
.socialLogo:hover {
    filter: grayscale(0);
}
